.revolutionary-editor {
  grid-area: revolutionary-editor;
}
.revolutionary-editor__title {
  padding: 0 10px;
  font-family: $fontMontserrat;
  margin: 80px 0 30px 0;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 28px;
  font-weight: bold;
  color: rgba(99,92,116,1);
}

.revolutionary-editor__description {
  padding: 0 10px;
  font-family: $fontLato;
  margin: 0 22px;
  font-size: 14px;
  line-height: 20px;    // 32px  //32px
  color: rgba(50,50,50,1);
}
.buttons-box__list {
  padding: 0;
  margin: 36px 0 120px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.buttons-box__item {
  display: flex;
  margin: 10px 10px;
  & a {
    margin: 0;
  }
}
.buttons-box__link {
  text-decoration: none;
  color: black;
  line-height: 25px;
  padding: 3px 12px;
  font-size: 20px;
}

.watch-link, .star-link, .fork-link {
  @include radius-border-left;
  border: 1px black solid;
  &:hover {
    background-color: rgba(241,241,241,1);
    text-decoration: none;
    color: #0c5460;
  }
}
.numbers {
  @include radius-border-right;
  border: 1px black solid;
  border-left: transparent;
  &:hover {
    text-decoration: none;
    color: #0c5460;
  }
}
.fa-eye, .fa-star, .fa-code-branch {
  line-height: 20px;
  font-size: 20px;
}

