.subscription-section {
  //background: url("/img/mainBoxImages/Subscription Background.png") no-repeat center;
  background: url("../img/mainBoxImages/Subscription Background.png") no-repeat center;
  background-size: cover;
  font-family: $fontMontserrat;
}
.talking-about-fork-container {
  //background: url("/img/mainBoxImages/PeopleTalkingAboutBackImage.png") no-repeat center;
  background: url("../img/mainBoxImages/PeopleTalkingAboutBackImage.png") no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
}
.talking-about-fork {
  width: 100%;
  grid-area: talking-about-fork;
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.talking-about-fork__section {
  //background: url("/img/mainBoxImages/PeopleTalkingAboutBackImage.png") no-repeat center;
  //background-size: cover;
}
.talking-about-fork__title {
  padding: 60px 10px 0 10px;
  font-family: $fontMontserrat;
  font-weight: 700;
  font-size: 36px;
  //line-height: 48px;  //  44px  //  50px
}
.review {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-row-gap: 45px;
  justify-content: center;
  grid-template-rows: repeat(6, 1fr);
}
.review__box {
  padding: 0 10px;      //   new   ----------
  display: flex;
  //max-width: 400px;    //   old    ----------
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  //height: 180px;         //   old    ----------
}

.box-review__logo {
  height: 65px;
  & img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.box-review__description {
  padding: 0 15px;      //   new  ---------
  //height: 85px;         //   old  ---------
  width: 100%;
  font-family: lato, sans-serif;
  font-size: 16px;
  font-style: italic;
  //line-height: 24px;
  margin-top: 25px;
  //padding: 5px;   // old --------
  box-sizing: border-box;
  margin-bottom: 0;
  vertical-align: bottom;
}
.paragraph-between-boxes {
  padding: 30px;
  font-family: $fontLato;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: white;
}
.subscription-paragraph {
  margin: 0;
  padding: 14px 10px 32px 10px;
  //padding-top: 14px;
  font-weight: bold;
  font-size: 28px;
  color: white;
  position: relative;
  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px rgba(141,128,172,0.5) solid;
    border-radius: 2px;
    width: calc(100% - 15%);
    max-width: 780px;
    height: 2px;
  }
}
.subscription__pricing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

}
.pricing__subscription {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(207,207,207,0.1);
  //width: 260px;      //  old    --------
  //min-width: 238px;
  //max-width: 260px;

  min-width: 220px;
  max-width: 260px;
  width: 100%;
}
.subscription-pricing__header {
  margin-bottom: 0;
  padding: 35px 0;
  font-size: 24px;
  background-color: rgba(255,255,255,0.1);
  text-transform: uppercase;
}
.subscription-pricing__price {
  padding: 0;
  margin: 10px 0;
  font-size: 60px;
}
.subscription-pricing__period {
  text-transform: uppercase;
  margin-bottom: 70px;
  position: relative;
}
.subscription-pricing__period::after {
  @include pricing-box-pseudo-element;
}
.subscription-pricing__purchase-button {
  margin-top: 21px;
  margin-bottom: 37px;
}
.active-subscription-box {
  background-color: rgba(78,55,81,0.9);
  min-width: 300px;
  width: 300px;
  //border: 1px rgba(255,255,255,0.1) solid;
  border: 1px rgba(64,45,65,0.5) solid;
  & .subscription-pricing__header {
    background-color: rgba(64,45,65,0.8);
  }
  .active-subscription {
    padding: 20px 0;
    font-size: 84px;
    margin: 30px;
    line-height: 84px;
  }
  .active-button {
    margin-top: 50px;
  }
}