.here-is-what-you-get {
  font-family: $fontMontserrat;
  //padding: 0 10px; // new --------------------------------------------------
  grid-area: here-is-what-you-get;
  display: grid;
  grid-row-gap: 35px;
}
.here-is-what-you-get__title {
  padding: 0 10px;
  margin: 0 auto;
  color: rgba(142,131,173,1);
  font-weight: bold;
  font-size: 32px;    //  42px  //  48px
  line-height: 38px;  //  44px  //  50px
}
.picture-you-get-main {
  width: 100%;
  margin: 0 auto;
}

.container-you-get__img {
  //margin-top: 38px;
}
.container-you-get__title {
  margin-top: 27px;
  font-size: 16px;
  color: rgba(50,50,50,1);
}
.container-you-get__description {
  margin: 0 25px;
  display: inline-block;
  font-size: 14px;
  color: rgba(132,142,151,1);
}