@import "src/scss/mixins";
@import "src/scss/variables";
.wrapper {
  width: 100%;
  height: 100%;
}
.main-section {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-areas:
  "revolutionary-editor"
  "here-is-what-you-get"
  "talking-about-fork";
}
//-----------------sections-----------------//

@import "revolutionary";
@import "what-you-get";
@import "talking-about-fork";

@import "src/scss/buttons";

//----------------main-media----------------//
//@import "media-768";
//@import "media-1200";




