@import "src/scss/buttons";
@import "src/scss/variables";

.header {
  font-family: $fontMontserrat;

  &__container {
    position: relative;
    background-color: black;
    //background-image: url("../../img/header/header-backgroung.jpg");
    background-image: url("../img/header/header-backgroung.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    background-color: #27262A;
    padding: 33px 16px;
  }

  &__logo {
    &-bg {
      display: block;
      float: left;
      width: 43px;
      height: 41px;
      //background: url('../../img/logos/header-logo-sprites.png') -73px -10px;
      background: url('../img/logos/header-logo-sprites.png') -73px -10px;
    }

    &__text {
      display: none;
      font-family: $fontLato;
      font-weight: bold;
      font-size: 24px;
      line-height: 16px;
      text-transform: uppercase;
      color: #8D81AC;
      margin: 12px 17px;
    }
  }

  &__description{
    text-align: center;
    height: 692px;
  }

  &__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    padding-top: 50px;
  }

  &__subtitle{
    font-size: 18px;
    line-height: 24px;
    color: #8D81AC;
    padding-top: 19px;

    &__ver{
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      color: #848E97;
      padding-top: 14px;
    }
  }

  &__download {
    position: relative;
    text-align: center;
    bottom: 28px;

    &> p {
      margin: 13px 0 28px 0;
      text-align: center;
    }
  }
}

@import "nav";

.hide {
  display: none;
}

//@import "../media-768";
//@import "../media-1200";
