%btn{
  color: white;
  position: relative;

  &:focus{
    outline: none;
  }

  &:active {
    top: 2px;
    box-sizing: border-box;
    border: 2px solid #8D81AC;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(68,49,69,.45);
    outline: none;
  }
}

//--------------------HEADER--------------------//

.header__bar__btn-bars{
  color: white;
  font-size: 21px;
  background: none;
  border: none;
  width: 28px;

  &:focus{
    outline: none;
  }
}

.header-btn {
  @extend %btn;
  background-color: #8D81AC;
  border: 2px solid transparent;
  border-radius: 40px;
  font-weight: bold;
  line-height: 0;
  box-sizing: border-box;
}

.buy-now{
  font-size: 15px;
  padding: 12px 20px;
}

.download-btn{
  font-size: 18px;
  padding: 24px 29px;
}

//--------------------Main--------------------//

.subscription-pricing__purchase-button {
  @extend %btn;
  position: relative;
  top: 0;
  left: 0;
  font-weight: 400;
  background-color: rgba(255,255,255,0.1);
  padding: 15px 37px;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 20px;
  border: 2px transparent solid;
  border-radius: 30px;
}
