@media screen and (min-width: 481px) {
  @import "variables";

  //--------------------HEADER--------------------//

  .header {
    &__bar {
      padding: 24px 20px 42px;

      &__btn-bars {
        display: none;
      }
    }

    &__logo__text{
      display: inline-block;
    }

    &__title{
      font-size: 72px;
      line-height: 72px;
    }

    &__subtitle{
      font-family: $fontLato;
      font-size: 24px;
      line-height: 24px;
    }

    &__download {
      bottom: 34px;

      & > p {
        margin-top: 28px;
      }
    }
  }

  .download-btn{
    font-size: 21px;
    padding: 31px 61px;
  }

  //--------------------NAVBAR--------------------//

  .nav {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    top: 75px;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;
      background-color: transparent;
    }

    &__item{
      border: none;
      padding: 0;
      margin: 0 2vw;
    }

    &__link{
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      color: #8D81AC;
      text-align: center;

      &:focus {
        color: white;
        padding-bottom: 7px;
        border-bottom: 4px solid white;

        &::before {
          display: none;
        }
      }
    }
  }

  //--------------------Main--------------------//

  .revolutionary-editor__title {
    line-height: 42px;
    font-size: 42px;
  }
  .revolutionary-editor__description {
    font-size: 21px;
    line-height: 32px;
    margin: 0 auto;
    max-width: 690px;
  }
  .here-is-what-you-get {
    grid-row-gap: 60px;
  }
  .here-is-what-you-get__title {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 42px;
  }

  .review {
    margin: 0 auto;
    display: grid;
    justify-content: space-evenly;
    grid-row-gap: 55px;
    grid-template-columns: repeat(2, minmax(240px,355px));
    grid-template-rows: repeat(2, 1fr);
  }
  .review__box {
    padding: 5px;
    box-sizing: border-box;
  }
  .paragraph-between-boxes {
    padding-top: 50px;
  }

  .picture-you-get-main {
    max-width: 768px;
    margin: 0 auto;
  }
  .container-you-get {
    max-width: 900px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;
  }
  .container-you-get__img {
    min-width: 111px;
    margin: auto;
    & img {
      margin: 0 auto;
    }
  }
  .container-you-get__div {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    & p {
      text-align: left;
      margin: 0;
      padding: 0 0 20px 0;
    }
  }
  .active-subscription-box {
    padding: 1px;
    min-width: 220px;
    max-width: 300px;
    width: 100%;
  }
  .talking-about-fork__title {
    font-size: 42px;
    padding-top: 80px;
  }
  .subscription__pricing {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, minmax(220px, 300px));
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding: 0 10px 145px 10px;
  }
  .subscription-pricing__description {
    padding-right: 10px;
    padding-left: 10px;
  }
  .subscription-paragraph {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 42px;
  }
}