@media screen and (min-width: 993px) {

  //--------------------HEADER--------------------//

  .header {
    &__bar {
      background: transparent;
      padding: 30px 16px;
    }

    &__logo:hover {
      cursor: pointer;

      & .header__logo-bg {
        background: url('../img/logos/header-logo-sprites.png') -10px -10px;
        transform: rotate(-360deg);
        transition: .5s;
      }

      & .header__logo__text {
        color: white;
        text-decoration: none;
        transition: all 1s;
      }
    }

    &-btn:hover {
      background-color: white;
      color: #8D81AC;
      border: 2px solid #8D81AC;
    }

    .buy-now {
      font-size: 16px;
      line-height: 16px;
    }
  }

  //--------------------NAVBAR--------------------//

  .nav {
    position: inherit;
    width: auto;
    padding: 12px 0;
    margin: 0 43px 0 auto !important;

    &__item{
      margin: 0 23px;
    }

    &__link {
      &:hover {
        transition: all 1s;
      }
    }
  }

  //--------------------MAIN--------------------//

  //-------------------revolutionary---------------revolutionary-----------------revolutionary-----------------//
  .revolutionary-editor__title {
    font-size: 54px;
  }
  .revolutionary-editor__description {
    margin: 0 auto;
    width: 860px;
  }
  .buttons-box__list {
    margin-bottom: 70px;
  }
  //-----------------here is what you get----------here is what you get----------here is what you get--------//
  .here-is-what-you-get {
    padding: 100px 10px 30px 10px;
    //margin: 0 auto;
    display: grid;
    grid-row-gap: 35px;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(496.5px, 600px));
    grid-template-rows: repeat(4, 120px);
    grid-template-areas:
        "web-better title-you-get"
        "powerful-tool picture"
        "stuff picture"
        "clock picture"
  ;
    background-color: #F4F4F4;
  }
  .title-you-get {
    grid-area: title-you-get;
  }
  .web-better {
    grid-area: web-better;
  }
  .powerful-tool {
    grid-area: powerful-tool;
  }
  .stuff {
    grid-area: stuff;
  }
  .clock {
    grid-area: clock;
  }
  .picture {
    grid-area: picture;
  }
  .container-you-get__div {
    width: 100%;
  }
  .container-you-get__title {
    width: 100%;
  }
  .container-you-get {
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    margin-left: 30px;
    margin-right: 10px;
  }
  .here-is-what-you-get__title {
    font-size: 48px;
  }
  .picture {
    box-sizing: border-box;
    padding-left: 10px;
    margin-left: 10px;
    max-width: 650px;
  }
  .title-you-get {
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
    margin-left: 10px;
  }
  .container-you-get__img {
    margin: auto;
    width: 142px;
  }
  .container-you-get__img-small {
    padding: 0;
    margin: auto;
  }
  .container-you-get__description {
    width: 100%;
  }
  //------------------talking about fork----------talking about fork----------talking about fork--------//
  .talking-about-fork__title {
    padding-top: 110px;
    font-size: 48px;
  }
  .review {
    max-width: 1200px;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: repeat(3, minmax(331px, 400px));
    grid-template-rows: repeat(2, 1fr);
  }
  .picture-you-get-main {
    max-height: 440px;
    max-width: 768px;
    margin: 0 auto;
  }
  .paragraph-between-boxes {
    width: 870px;
    padding-top: 120px;
  }
  .subscription-paragraph {
    font-size: 48px;
    color: white;
  }
  .subscription__pricing {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
  .pricing__subscription {
    width: 100%;
    margin: 0;
    min-width: 220px;
    max-width: 260px;
  }
  .active-subscription-box {
    //margin-right: 0;
    min-width: 255px;
    max-width: 300px;
  }
}


