html, body, .wrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}

@import "variables";

.width-container{
  max-width: $container-max-widths;
  margin: 0 auto;
  box-sizing: border-box;
}

@import "header/header";
@import "main/main";


@import "media-481";
@import "media-993";